---
title: Foxtrot Lima Activations
---
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if meta_description %}<meta name="description" content="{{ meta_description }}">
{% endif %}
{%- if page.url === "/" %}{% set pageTitle = title %}{% else %}{% set pageTitle = title ~" | " ~site.name %}{% endif %}
<title>{{ pageTitle }}</title>

<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script>
document.documentElement.classList.add('fonts-inactive');
{% if site.env === "prod" %}if ("serviceWorker" in navigator){
navigator.serviceWorker.register("/service-worker.js");
}
{% endif %}</script>

{% include 'icons.njk' %}

<!-- open graph and twitter -->
<meta property="og:type" content="article">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ site.twitter }}">
<meta property="og:title" name="twitter:title" content="{{ pageTitle }}">
<meta property="og:image" name="twitter:image" content="{{ site.baseurl }}{{ image or site.image }}">
<meta property="og:image:alt" name="twitter:image:alt" content="{{ image_alt or site.image_alt }}">
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:description" name="twitter:description" content="{{ meta_description or site.description }}">
<meta property="og:url" content="{{ site.baseurl }}{% if page.url !== "/" %}{{ page.url }}{% endif %}">

{% set css %}
{% include "css/styles.css" %}
{% include "css/index.css" %}
{% endset %}
<style>
{{ css | cssmin | safe }}
</style>
</head>

<body class="activations">

<header class="fl-activations">
<h1>FL Activations</h1>
<p>Past and future Foxtrot Lima activations</p>
</header>

<main>
{{ content | safe }}
</main>

{% include 'footer-main.njk' %}
{% include 'typekit.njk' %}
</body>
</html>
