---
title: Foxtrot Lima Activations
layout: main.njk
description: Past and future Foxtrot Lima activations
meta_description: Past and future activations of the Foxtrot Lima DX group
---

{% include  'activations-listing.njk' %}
